body > .ui.segment:first-child {
    margin-top: 2em;
}

.ui.text.container h1 {
    font-size: 4rem;
}

.ui.divider {
    margin-top: 4em;
}

.tab.tall {
    min-height: 80vh;
}

.hidden {
    display: none!important;
}